.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #0d0000;
  color: var(--bg-white);
  padding: 0.5rem 1rem 0.5rem 0.2rem;
  min-height: 6vh;
}

.company-info,
.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.company-logo > i {
  color: var(--logo-color);
  font-size: 1.5rem;
}

.main {
  display: grid;
  grid-template-columns: var(--dynamic-grid-template-columns);
  gap: 1rem;
}

.folder-container {
  padding: 3rem 1rem 0 1rem;
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--bg-white);
  background-color: var(--side-nav);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.folder-container i {
  font-size: 1.5rem;
  line-height: 23px;
}

.folder {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  cursor: pointer;
}

.active-folder {
  color: #040a41;
}

.active-mail {
  background-color: #174ea6;
}

.mail-container {
  background-color: var(--mail-container-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 3rem;
  color: var(--bg-white);
  font-size: 1.2rem;
}

.mail-item {
  display: flex;
  gap: 1rem;
  padding: 10px;
  border: 1px solid #626864;
  justify-content: space-between;
  cursor: pointer;
}

.mail-subject-summary,
.mail-content-summary {
  text-indent: 1rem;
}

.no-mail {
  padding: 10px;
}

.content-container:has(> .no-mail) {
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.mail-info-container {
  border-radius: 10px;
  background-color: var(--mail-container-bg);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--bg-white);
  padding-top: 3rem;
  padding-left: 3rem;
}

.mail-info {
  text-decoration-line: underline;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.content-container > .mail-subject {
  font-size: 1.5rem;
  font-weight: 700;
}

.send-draft-btn {
  color: var(--bg-white);
  font-size: 2rem;
  cursor: pointer;
  margin: 0 auto;
}

.mail-info-container:has(> .compose-mail) {
  display: block;
  padding: 2rem;
}

.compose-mail {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.compose-mail label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.compose-mail input[type="text"],
.compose-mail textarea {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
.compose-mail textarea {
  height: 200px;
}
.compose-mail input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
