.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #0d0000;
  color: var(--bg-white);
  /* padding: 0.5rem 1rem; */
  min-height: 6vh;
}

.company-info,
.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.company-logo > i {
  color: var(--logo-color);
  font-size: 1.5rem;
}

.main {
  display: grid;
  grid-template-columns: auto auto 3fr;
  gap: 1rem;
}

.folder-container {
  padding: 3rem 1rem 0 1rem;
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--bg-white);
  background-color: var(--side-nav);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.folder-container i {
  font-size: 1.5rem;
  line-height: 23px;
}

.folder {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  cursor: pointer;
}

.active {
  color: #040a41;
}

.mail-container {
  background-color: var(--mail-container-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 3rem;
  color: var(--bg-white);
  font-size: 1.2rem;
}

.mail-item {
  display: flex;
  gap: 1rem;
  padding: 10px;
  border: 1px solid #626864;
  justify-content: space-between;
  cursor: pointer;
}

.mail-subject-summary,
.mail-content-summary {
  text-indent: 1rem;
}

.content-container {
  border-radius: 10px;
  background-color: var(--mail-container-bg);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--bg-white);
  padding-top: 3rem;
  padding-left: 3rem;
}

.mail-info {
  text-decoration-line: underline;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.content-container > .mail-subject {
  font-size: 1.5rem;
  font-weight: 700;
}
